div(class="container")
			div(class="brands")
				ul(class="brand_icons")
					li
						img(src="images/icon1.png" class="img-responsive" alt="")
					li
						img(src="images/icon2.png" class="img-responsive" alt="")
					li
						img(src="images/icon3.png" class="img-responsive" alt="")
					li
						img(src="images/icon4.png" class="img-responsive" alt="")
					li(class="last")
						img(src='images/icon5.png' class="img-responsive" alt="")
		div(class="container")
			div(class="instagram_top")
				div(class="instagram text-center")
					h3 Our Collections
				ul(class="instagram_grid")
					li
						a(class="popup-with-zoom-anim" href="#small-dialog1")
							img(src="images/i1.jpg" class="img-responsive" alt="")
					li
						a(class="popup-with-zoom-anim" href="#small-dialog1")
							img(src="images/i2.jpg" class="img-responsive" alt="")
					li
						a(class="popup-with-zoom-anim" href="#small-dialog1")
							img(src="images/i3.jpg" class="img-responsive" alt="")
					li
						a(class="popup-with-zoom-anim" href="#small-dialog1")
							img(src="images/i4.jpg" class="img-responsive" alt="")
					li
						a(class="popup-with-zoom-anim" href="#small-dialog1")
							img(src="images/i5.jpg" class="img-responsive" alt="")
					li(class="last_instagram")
						a(class="popup-with-zoom-anim" href="#small-dialog1")
							img(src="images/i6.jpg" class="img-responsive" alt="")
					div(class="clearfix")
					div(id="small-dialog1" class="mfp-hide")
						div(class="pop_up")
							h4 A Sample Photo Stream
							img(src="images/i_zoom.jpg" class="img-responsive" alt="")
			ul(class="footer_social")
				li
					a(href="#")
						i(class="tw")
				li
				li
					a(href="#")
						i(class="fb")
				li		
				li
					a(href="#")
						i(class="pin")
				li
				div(class="clearfix")
	div(class="footer")
		div(class="container")
			div(class="footer-grid")
				h3 Category
				ul(class="list1")
					li
						a(href="index.html") Home
					li
						a(href="about.html") About us
					li
						a(href="about.html") Eshop
					li
						a(href="about.html") Features
					li
						a(href="about.html") New Collections
					li
						a(href="typo.html") Typo
					li
						a(href="contact.htm") Contact
			div(class="footer-grid")
				h3 Our Account
				ul(class="list1")
					li
						a(href="login.html") Your Account
					li
						a(href="contact.html") Personal information
					li
						a(href="contact.html") Addresses
					li
						a(href="#") Discount
					li
						a(href="checkout.html") Orders history
					li
						a(href="about.html") Search Terms
			div(class="footer-grid")
				h3 Our Support
				ul(class="list1")
					li
						a(href="contact.html") Site Map
					li
						a(href="about.html") Search Terms
					li
						a(href="about.html") Advanced Search
					li
						a(href="about.html") Mobile
					li
						a(href="contact.html") Contact Us
					li
						a(href="contact.html") Mobile
					li
						a(href="contact.html") Addresses
			div(class="footer-grid")
				h3 Newsletter
				p(class="footer_desc") Nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat
				div(class="search_footer")
					input(type="text" class="text" value="Your Email")
					input(type="submit" value="Subscribe")
				img(src="images/payment.png" class="img-responsive" alt="")
			div(class="clearfix")
	div(class="footer_bottom")
		div(class="container")
			div(class="copy")
				p Copyright &copy; 2016 Luxury Furnish. Devloped By 
					a(href="www.techsparksit.com" target="_blank") Jeetu