extends layout
block content
	include common/header
	div(class="main")
		div(class="content_box")
			div(class="container")
				div(class="row")
					div(class="col-md-3")
						div(class="menu_box")
							h3(class="menu_head") Menu
							ul(class="nav")
								li
									a(href="http://localhost:7000/about-us") About
								li
									a(href="http://localhost:7000/about-us") Living Room
								li
									a(href="http://localhost:7000/about-us") Office Furniture
								li
									a(href="http://localhost:7000/about-us") Bean Bags
								li
									a(href="http://localhost:7000/about-us") Tables
								li
									a(href="http://localhost:7000/about-us") Sofas
								li
									a(href="http://localhost:7000/about-us") Wardrobes
								li
									a(href="http://localhost:7000/about-us") Beds
								li
									a(href="typo.html") Typo
								li
									a(href="http://localhost:7000/about-us") Chairs
								li
									a(href="http://localhost:7000/about-us") Kids Beds
						div(class="category")
							h3(class="menu_head") Category Options
							ul(class="category_nav")
								li
									a(href="#") Dining & Serving
								li
									a(href="#") Storage
								li
									a(href="#") Wall Decors
								li
									a(href="#") Bed & living
								li
									a(href="#") Office Use
						div(class="category")
							h3(class="menu_head") Brand Options
							ul(class="category_nav")
								li
									a(href="#") Century
								li
									a(href="#") Henredon
								li
									a(href="#") Marge Carson
								li
									a(href="#") Schnadig
								li
									a(href="#") Hillsdale
								li
									a(href="#") Emerald Home
								li
									a(href="#") Broyhill
								li
									a(href="#") Hillsdale
						div(class="tags")
							h4(class="tag_head") Tags Widget
							ul(class="tags_links")
								li
									a(href="#") Office</a></li>
								li
									a(href="#") Chairs</a></li>
								li
									a(href="#") Wood
								li
									a(href="#") Metal
								li
									a(href="#") Sizes
								li
									a(href="#") Women
								li
									a(href="#") Wardrobes
								li
									a(href="#") Latest
								li
									a(href="#") Kitchen
								li
									a(href="#") Tables
								li
									a(href="#") Modern
								li
									a(href="#") Colors
								li
									a(href="#") Shelves
								li
									a(href="#") Stools
								li
									a(href="#") Pouffes
								li
									a(href="#") Women
								li
									a(href="#") Bedroom
							a(href="#" class="link1") View all tags
						div(class="side_banner")
							div(class="banner_img")
								img(src="images/pic9.jpg" class="img-responsive" alt="")
							div(class="banner_holder")
								h3 Now 
									br 
									| is 
									br 
									| Open!
					div(class="col-md-9")
						div(class="dreamcrub")
							ul(class="breadcrumbs")
								li(class="home")
									a(href="http://localhost:7000" title="Go to Home Page") Home &nbsp;
									span &gt;
								li(class="home") &nbsp; About&nbsp;
									span &gt; 
									&nbsp;
							ul(class="previous")
								li
									a(href="http://localhost:7000") Back to Previous Page
							div(class="clearfix")
						div(class="mens-toolbar")
							div(class="sort")
								div(class="sort-by")
									label Sort By
									select
										option(value="") Position
										option(value="") Name
										option(value="") Price
									a(href="#")
										img(src="images/arrow2.gif" alt="" class="v-middle")
							ul(class="women_pagenation dc_paginationA dc_paginationA06")
								li
									a(href="#" class="previous") Page:
								li(class="active")
									a(href="#") 1
								li
									a(href="#") 2
							div(class="clearfix")
						div(id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid")
							div(class="cbp-vm-options")
								a(href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid" title="grid") Grid View
								a(href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list" title="list") List View
							div(class="pages")   
								div(class="limiter visible-desktop")
									label Show
									select
										option(value="" selected="selected") 9
										option(value="") 15
										option(value="") 30
									per page
							div(class="clearfix")