extends layout
block content
	include common/header
	if(errors)
		!{errors.title[0]}
		//each item,key in errors
			li= key +':'+ item
	div(class="main").
		<div class="container">
		  <div class="register">

		  	  <form action="" method="post" enctype="multipart/form-data"> 
				 <div class="register-top-grid">
					<h3>PERSONAL INFORMATION</h3>
					 <div>
						<span>title<label>*</label></span>
						<input type="text" name="title"> 
					 </div>
					 <div>
						<span>price<label>*</label></span>
						<input type="text" name='price'> 
					 </div>
					
					 <div class="clearfix"> </div>
					   <a class="news-letter" href="#">
						 <label><input type="file" name="image" ><i> </i>images</label>
					   </a>
					 </div>
					 <input type="submit" value="submit">
				     
				</form>
		   </div>
		 </div>
	include common/footer